.body {
  background-color: skyblue;
}

.container {
  background-color: whitesmoke;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 5px;
}
#header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: navy;
  display: flex;
  justify-content: center;
}

.time{
  color:navy;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

#minutes {
  font-size: 6em;
  display: inline-block;
}

#seconds {
  font-size: 4em;
  display: inline-block;
}

#startBtn {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  background-color: navy;
  color: white;
}
button:hover {
  background-color: skyblue;
}

#score {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}

#problem_group {
  background-color: antiquewhite;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 10px;
}

form {
  text-align: center;
}

#question {
  font-weight: bold;
}